*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color:#222327;
    --text-color:#fff;
    --main-color:#29fd53;
}

body{
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}


.logo{
    width: 10%;
    margin-right: 3px;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}





























/* :root{
    --nav-color:#224358;
    --link-color:#fff;

}

.back-gr{
    background-color: var(--nav-color);
}


header {
    background-color: var(--nav-color);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    width: 100px;
    height: 100px;
}

.navigation a{
    color: var(--link-color);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: var(--nav-color);
} */
